0<center>
	<h1><a href="https://www.hibga.com/p/faq.html"><span style="color: #ff6600;">Trouble Downloading ? Read FAQ here</span></a></h1>
</center>

<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta name='robots' content='noindex,follow' />
	<style type="text/css">
		.HIDDENDIV {
			display: none;
		}
		#table.show tbody > *:nth-child(1n+1) {
			display: block;
		}
	</style>
	{% include gtag.js %}
	{% include histat.js %}
	{% include ouo.js %}
</head>
<body bgcolor="black" text="white">
	<center>
		<div id="passw">
			To view this protected post, enter the password below:<br />
			<input style="border: 2px solid #5bc0de; padding: 5px; text-align: center; display: inline-block; margin-bottom: 3px; border-radius: 4px;" type="password" id="password" onkeydown="if (event.keyCode == 13) document.getElementById('button').click()" /> 
			<input style="background-color: #5bc0de; border: none; color: #ffffff; padding: 5px; text-align: center; text-decoration: none; display: inline-block; margin-bottom: 3px; cursor: pointer; border-radius: 4px;" id="button" type="button" value="Submit" onclick="if (document.getElementById('password').value == 'hibga') {document.getElementById('table').classList.toggle('show'); document.getElementById('passw').style.display='none'; } else {  alert('Wrong Password!'); password.setSelectionRange(0, password.value.length);}" />
		</div>
		<table id="table" style="height: 150px;" border="1" cellspacing="7" cellpadding="5" width="400">

			{{ content }}
		
		</table>
	<p>/{{page.title}}</p>
	</center>
</body>
</html>
